<div class="row">
  <div class="col-md-5 mx-auto pt-5">

    <app-title title="Login"></app-title>

    <form (ngSubmit)="submit(loginForm)" [formGroup]="loginForm">
      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" id="floatingInput"
               placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
               placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button [disabled]="loginForm.invalid" class="btn btn-secondary mt-3 btn-lg" type="submit">Login</button>
    </form>
  </div>
</div>
