<div class="container">
  <div class="row g-3">
    <ng-container *ngFor="let food of foods">
      <div class="col-md-3">
        <a routerLink="/food/{{food.id}}" class="card">
          <img [src]="food.imageURL" class="card-img-top" [alt]="food.name">
          <div class="card-body">
            <h5 class="card-title d-inline">{{ food.name }}</h5>
            <span class="ps-2 favourite {{food.favourite ? '' : 'not'}}">❤</span>
            <star-rating [starType]="'svg'" [rating]="food.stars"></star-rating>
            <div class="origins">
              <span *ngFor="let origin of food.origins; let last = last">
                {{origin.length > 3 ? (origin | titlecase) : (origin | uppercase) }} {{!last ? '|' : ''}}
              </span>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
